.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .App-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .weather-body {
    margin-top: 40px;
    text-align: left;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  p {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  

  
 